rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{documents=**} {
      allow write: if request.resource.data.createdAt == request.time && request.resource.data.to == 'hello@hairarrow.dev';
    }
  }
}